.header-menu {
    text-align: center;
    list-style: none;
 

}
.header-menu li{
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;

        font-size: 18px;
        line-height: 18px;
        align-items: center;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FF0000;
}

.header-menu li a {
    color: #FF0000;
    opacity: 0.9;
    text-decoration: none;
    padding: 10px;
    transition: all .4s ease-in-out;

}

.header-menu li a:hover {
    color: blue
}

.h2 {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        line-height: 27px;
        letter-spacing: 3.3px;
        text-transform: uppercase;
        color: #373737;
        padding: 25px 0 0 0;
}

.text {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 2.4px;
        color: #373737;
        padding-right: 20px;
}

.container {
    text-align: center;
}


.button {
    display: inline-block;
    color: white;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    border: 1px solid #FF0000;
    margin: 50px;
}

.footer {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: right;
        line-height: 20px;
        align-items: center;
        letter-spacing: 2.4px;
        color: #373737;
        padding: 0 40px 20px 0;
}